<div class="cont">
  <div [ngSwitch]="loading">
    <div *ngSwitchCase="true" class="loading">
        <loading-circle></loading-circle>
    </div>
    <div *ngSwitchCase="false">
      <div class="table-responsive">
        <table class="table table-condensed">
          <tbody>
            <tr>
              <th>Lp</th>
              <th>Druzyna</th>
              <th>Mecze</th>
              <th>Wygrane</th>
              <th>Remisy</th>
              <th>Porazki</th>
              <th>Bilans</th>
              <th>Pkty</th>
            </tr>
            <tr *ngFor="let row of table" [class.ourTeam]="isOurTeam(row.team)">
              <td>{{row.rank}}</td>
              <td>{{row.team}}</td>
              <td>{{row.matches}}</td>
              <td>{{row.won}}</td>
              <td>{{row.draw}}</td>
              <td>{{row.lost}}</td>
              <td>{{row.goals}}</td>
              <td>{{row.pts}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
