@import "../../../../assets/css/style.less";

.cont{
  font-size: 15px;
  padding-left: 15px;// +15 zeby nie wyjezdzalo poza

  th{
    border: none;
    background-color: @alternate-bg;
    color:white;
  }
}

.ourTeam{
  font-weight: bold;
  color: brown;
}
