@import '../../assets/css/style.less';

//mecz
.match{
  // display: none;
  height: 200px;
  padding: 30px 0 20px 0;
  text-align: center;
  h2 {
    font-size: 22px;
    margin-top: 10px;
    .upper;
    color: @alternate-bg;
  }
  h5{
    font-size: 15px;
  }

  @media @medium {
    // display: block;
    h2{
      font-size: 25px;
      margin-top: 0;
    }
  }

  @media @large {
    h2{
      font-size: 28px;
    }
    h5{
      font-size: 17px;
    }
  }
}
.match-right{
  padding-right: 15px;
}
.match-left{
  padding-left: 15px;
}


.info-match{
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-size: 25px;
  img{
    width: 49px;
    max-width:100% !important;
    height:auto;
  }
  span{
    font-size: 15px
  }
  @media @large {
    img{
      width: 70px;
    }
    span{
      font-size: 28px
    }
  }
}

//slider
.news-slider{
  height: @slider-height-min;
  width: 100%;
  margin: 0;
  @media @medium{
    height: @slider-height;
  }
}

.item{
  min-height: @slider-height-min;
  padding: 0;
  margin: 0;
  .container {
    width: 100%;
  }
  @media @medium{
    height: @slider-height;
  }
}
.item-content{
  position: relative;
  text-align: center;
  width: 100%;
  h1{
    color: #f2f2f2;
    .upper;
    font-size: 25px;
  }
  h3{
    color:#f2f2f2;
    font-size: 21px;
    margin-top: 5px;
  }
  @media @small{
    h1{
      font-size: 32px;
    }
    h3{
      font-size: 28px;
    }
  }
}

.carousel-control{
  .basic-transition;
  .size(88px;78px);
  position: absolute;
  top:50%;
  background: none !important;
  text-align: center;
  margin: -45px 0 0;
  i{
    .icon(white;30px;78px);
    opacity: 1;
    text-shadow: none;
  }
  &:hover > i{
    opacity: 0.8;
  }
}

.slide-image {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 0;
  &::after{
    .dark-overlay;
  }
  .bg-image(url('https://s2.fbcdn.pl/1/clubs/5021/templates/129109/img/user_top.jpg'));
}
