

<!-- Naglowek -->
<navbar></navbar>

<div id="main-container">
  <div class="top-separator"></div>
  <div class="clearfix"></div>

  <section class="news">
    <div class="container-fluid no-padding">
      <div class="row">
        <div class="col-xs-6 col-md-2 hidden-xs">
          <div class="match match-left">
            <span><h2>ostatni   mecz</h2></span>
            <div class="beauty-line"></div>
            <div class="info-match">
              <img src="../../assets/img/teams/fc_katowice.png" alt="druzyna1" class="info-match-logo"/>
              <span>0:1</span>
              <img src="../../assets/img/logo_small.png" alt="druzyna2" class="info-match-logo"/>
            </div>
          </div>
        </div>
        <div class="col-xs-6 col-md-2 col-md-push-8 hidden-xs">
          <div class="match match-right">
            <span><h2>Nastepny mecz</h2></span>
            <div class="beauty-line"></div>
            <div class="info-match">
              <img src="../../assets/img/teams/gornik_katowice.png" alt="druzyna1" class="info-match-logo"/>
              <span>-:-</span>
              <img src="../../assets/img/logo_small.png" alt="druzyna2" class="info-match-logo"/>
            </div>
          </div>
        </div>
        <div class="col-xs-12 col-md-8  col-md-pull-2">
          <div class="news-slider">
              <div id="news-slider" class="carousel slide" data-ride="carousel">
                  <!-- Indicators -->
                  <ol class="carousel-indicators">
                      <li data-target="#news-slider" data-slide-to="0" class="active"></li>
                      <li data-target="#news-slider" data-slide-to="1"></li>
                      <li data-target="#news-slider" data-slide-to="2"></li>
                  </ol>
                  <!-- Wrapper for slides -->
                  <div class="carousel-inner" role="listbox">
                      <div class="item active" >
                          <div class="slide-image" id="slide1"></div>
                          <div class="container">
                              <div class="item-content">
                                  <h1>Kolejarz 24 awansuje do Okręgowki!!</h1>
                                  <h3>Wygrana z MKS Stara Wieś</h3>
                                  <a href="" class="btn btn-danger">
                                      <i class="fa fa-play-circle-o"></i>
                                      <span>Czytaj...</span>
                                  </a>
                              </div>
                          </div>
                      </div>
                      <div class="item">
                          <div class="slide-image" id="slide1"></div>
                          <div class="container">
                              <div class="item-content">
                                <h1>Remis z Victoria</h1>
                                <h3>Victora Katowice 4:4 Kolejarz 24</h3>
                                <a href="" class="btn btn-danger">
                                    <i class="fa fa-play-circle-o"></i>
                                    <span>Czytaj...</span>
                                </a>
                              </div>
                          </div>
                      </div>
                  </div>

                  <!-- Controls -->
                  <a class="left carousel-control" href="#news-slider" role="button" data-slide="prev">
                      <i class="fa fa-chevron-left"></i>
                      <span class="sr-only">Poprzedni</span>
                  </a>
                  <a class="right carousel-control" href="#news-slider" role="button" data-slide="next">
                      <i class="fa fa-chevron-right"></i>
                      <span class="sr-only">Nastepny</span>
                  </a>
              </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <div class="clearfix"></div>

  <section class="main-content">
    <div class="container-fluid no-padding">
      <div class="row">
        <div class="col-xs-12 col-sm-2">
        </div>
        <div class="col-xs-12 col-sm-8 ">
          <div class="router-outlet">
               <router-outlet></router-outlet>
          </div>
        </div>
        <div class="col-xs-12 col-sm-2"></div>
      </div>
    </div>
  </section>

</div>
<div class="clearfix"></div>

<div class="container-fluid no-padding footer">
  <div class="row">
    <div class="col-xs-12 footer">
        Copyright &copy; 2016. All rights reserved <br>
        Pawel Musialik
    </div>
  </div>
</div>
