@import "../../../assets/css/variables.less";

.circle {
  display: table-cell;
  height: 100px;
  width: 100px;
  content: "";
  border: 7px solid #a5a5a5;
  border-top: 7px solid @alternate-bg;
  border-radius: 50%;
  animation: round 1.3s ease-in-out infinite;
}
@keyframes round {
  from {
    transform: rotate(0);
  }

  to {
    transform: rotate(360deg);
  }
}
.three-circle{
  display: table-cell;
  height: 28px;
  width: 28px;
  position: relative;
  animation: loader .9s ease alternate infinite;
  margin: -40px auto;
  border-radius: 50%;
  animation-delay: 0.36s;
  &::before, &::after{
    height: 28px;
    width: 28px;
    position: absolute;
    border-radius: 50%;
    animation: loader 0.9s ease alternate infinite;
    content: "";
  }
  &::before{
    left: -40px;
    animation-delay: 0.18s;
  }
  &::after{
    right: -40px;
    animation-delay: 0.54s;
  }
}

@keyframes loader {
  0% {
    box-shadow: 0 28px 0 -28px @alternate-bg;
  }

  100% {
    box-shadow: 0 28px 0 @alternate-bg;
  }
}
