@import "../../../../assets/css/style.less";

.contact-information{
  text-align: center;
  h2{
    color: @third-color;
    font-weight: bold;
    border-bottom: 2px solid @third-color;
    padding-bottom: 10px;
  }
  span{
    text-align: justify;
    display: block;
    font-weight: bold;
    font-size: 15px;
    padding: 10px;
    .span-value{
      display: inline;
      font-weight: normal;
      float: right;
      padding: 0;
    }
  }
}
