<div class="cont">
  <div class="row">
    <div class="col-xs-12 col-md-6">
      <div class="contact-information">
        <h2>Kolejarz 24 Katowice</h2>
        <span >Adres <span class="span-value">40-152 Katowice, ul Alfreda 1a</span></span>
        <span >Rok zalozenia <span class="span-value">1924</span></span>
        <span >NIP <span class="span-value">56431698</span></span>
        <span >KRS <span class="span-value">9845645</span></span>
        <span >telefon <span class="span-value">123456789</span></span>
      </div>
    </div>
    <div class="col-xs-12 col-md-6">
      <div class="map embed-responsive embed-responsive-4by3">
        <iframe class="embed-responsive-item" width="600" height="450" frameborder="0" style="border:0"
        src="https://www.google.com/maps/embed/v1/place?q=Katowice%2C%20Alfreda%201a&key=AIzaSyAefryBXVXnpu7F3njvUqlm4VXXNKl9dnM" allowfullscreen></iframe>
      </div>
    </div>
  </div>
</div>
