@import '../../assets/css/style.less';

.wrapper{
  height: 100vh;
}
.content-wrapper{
  background-color: @body-bg;
}
.logo{
  background-color: @alternate-bg !important;
}
.navbar-static-top{
  background-color: #8A000E !important;
}
.skin-blue .sidebar-menu > li.active > a,
.skin-blue .sidebar-menu > li.active > a:hover {
  border-left-color: @alternate-bg !important;
}
.skin-blue .sidebar-menu > li > a:hover{
  border-left-color: @body-bg !important;
}
.nav > li > a:hover, .nav > li > a:focus{
    background-color: @alternate-bg !important;
}
.user-header{
  background-color: #8A000E !important;
  height: 145px !important;
  padding: 20px !important;
}
