<div class="cont" id="cont">
  <div [ngSwitch]="loading">
    <div *ngSwitchCase="true" class="loading">
      <loading-circle></loading-circle>
    </div>
    <div *ngSwitchCase="false">
      <div class="playersGroup row">
        <h2>Bramkarze</h2>
        <div class="player" *ngFor="let player of goalkeepers" (click)="openPlayer(player.index)">
          <img src="../../../../assets/img/player.png" alt="" class="photo">
          <span class="name">{{player.name}} {{player.lastName}}</span>
        </div>
      </div>
      <div class="playersGroup row">
        <h2>Obroncy</h2>
        <div class="player" *ngFor="let player of defenders" (click)="openPlayer(player.index)">
          <img src="../../../../assets/img/player.png" alt="" class="photo">
          <span class="name">{{player.name}} {{player.lastName}}</span>
        </div>
      </div>
      <div class="playersGroup row">
        <h2>Pomocnicy</h2>
        <div class="player" *ngFor="let player of midfielders" (click)="openPlayer(player.index)">
          <img src="../../../../assets/img/player.png" alt="" class="photo">
          <span class="name">{{player.name}} {{player.lastName}}</span>
        </div>
      </div>
      <div class="playersGroup row">
        <h2>Napastnicy</h2>
        <div class="player" *ngFor="let player of forwards" (click)="openPlayer(player.index)">
          <img src="../../../../assets/img/player.png" alt="" class="photo">
          <span class="name">{{player.name}} {{player.lastName}}</span>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="clearfix"></div>
