@import '../../../../assets/css/style.less';

.playersGroup{
  h2{
    .upper;
  }
  margin: 0;
  padding: 0;
}

.player{
  padding: 10px;
  margin: 5px;
  float: left;
  text-align: center;

  &:hover{
    cursor: pointer;
  }
}

.photo{
  display: block;
  height: 150px;
  width: auto;
  border: 1px solid black;
  background-color: @alternate-bg;
}

.name{
  display: block;
  font-size: 19px;
}
