<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <div class="" *ngFor="let player of players">
        {{player.name}} {{player.team}} {{player.role}}
      </div>
    </div>
  </div>
</div>
