<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <form class="add-player-form" [formGroup]="form" (ngSubmit)="add()">
        <input formControlName="name" type="text" name="" value="" placeholder="Imię">
        <input formControlName="lastName" type="text" name="" value="" placeholder="Nazwisko">
        <select formControlName="role" name="" placeholder="Pozycja">
          <option>Bramkarz</option>
          <option>Obrońca</option>
          <option>Pomocnik</option>
          <option>Napastnik</option>
        </select>
        <select formControlName="team" name="" placeholder="Drużyna">
          <option>Seniorzy</option>
          <option>Mlodzi</option>
        </select>
        <input formControlName="phoneNumber" type="text" name="" value="" placeholder="Telefon">
        <input formControlName="address" type="text" name="" value="" placeholder="Adres">
        <input formControlName="firstClub" type="text" name="" value="" placeholder="Wychowanek klubu">
        <input formControlName="matches" type="number" min="0" max="999999" placeholder="Mecze">
        <input formControlName="minutes" type="number" min="0" max="999999" placeholder="Minuty">
        <input formControlName="goals" type="number" min="0" max="999999" placeholder="Gole">
        <input formControlName="yellows" type="number" min="0" max="999999" placeholder="Żółte kartki">
        <input formControlName="reds" type="number" min="0" max="999999" placeholder="Czerwone kartki">

        <button type="submit" name="button">Zapisz</button>
      </form>
    </div>
  </div>
</div>

<!-- team: Sequelize.INTEGER,
role: Sequelize.STRING,
name: Sequelize.STRING,
lastName: Sequelize.STRING,
phoneNumber: Sequelize.INTEGER,
address: Sequelize.STRING,
firstClub: Sequelize.STRING,
matches: Sequelize.INTEGER,
minutes: Sequelize.INTEGER,
goals: Sequelize.INTEGER,
reds: Sequelize.INTEGER,
yellows: Sequelize.INTEGER -->
