@import '../../../assets/css/style.less';

.add-player-form {
  padding: 40px;
  input,
  select {
    display: block;
    padding: 5px;
    margin: 10px 0;
    border-radius: 2px;
    border: 1px solid @alternate-bg;
    background-color: @body-bg;
    width: 200px;
    color: black;
    &:focus {
      border-width: 2px;
      outline: none;
      box-sizing: border-box;
    }

    &::-webkit-input-placeholder {
      color: #7D6769;
    }
  }
  button{
    width: 200px;
    height: 50px;
    border: none;
    background-color: @alternate-bg;
    color:white;
    font-size: 17px;
  }
}
