@import "../../../assets/css/style.less";

.login-form{
  padding: 5px;
  text-align: center;
  span{
    font-size: 25px;
    .upper;
    color: @alternate-bg;
    margin-bottom: 15px;
  }
  input{
    padding: 5px;
    margin-bottom: 10px;
  }
  button{
    margin-top: 15px;
    //
    background-color: @alternate-bg;
    border: none;
    color: @body-bg;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  }
}
