<form class="login-form" [formGroup]="form" (ngSubmit)="log()">
  <span>logowanie</span>
  <div class="beauty-line"></div>
  <input formControlName="username" type="text" name="" value="" placeholder="Nazwa uzytkownika">
  <input formControlName="password" type="password" name="" value="" placeholder="Hasło">
  <button type="submit" name="button">ZALOGUJ</button>
</form>
<div *ngIf="informations">
  {{informations}}
</div>
