<div class="cont" id="cont">
  <h2>Paragraf</h2>
  <div class="line"></div>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ac dui felis. Sed sit amet lorem convallis, condimentum enim eget, rutrum magna. Nunc gravida nibh quis mattis dictum. Etiam hendrerit vestibulum sapien, vel auctor justo porta id. Vestibulum nec eleifend libero. Nam eget posuere lacus, vitae ultrices sapien. Suspendisse auctor est non lacus malesuada, et gravida arcu consectetur. Vivamus at tempor augue. Cras lobortis augue a tellus consequat, eget sagittis erat porttitor. Fusce commodo, est non luctus malesuada, enim nisi luctus urna, quis convallis justo felis eu lectus. Praesent mollis ligula lectus. Phasellus cursus nec quam eget fermentum. In gravida, ligula sed posuere auctor, eros nibh tempor neque, in dignissim</p>
  <h2>Paragraf</h2>
  <div class="line"></div>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ac dui felis. Sed sit amet lorem convallis, condimentum enim eget, rutrum magna. Nunc gravida nibh quis mattis dictum. Etiam hendrerit vestibulum sapien, vel auctor justo porta id. Vestibulum nec eleifend libero. Nam eget posuere lacus, vitae ultrices sapien. Suspendisse auctor est non lacus malesuada, et gravida arcu consectetur. Vivamus at tempor augue. Cras lobortis augue a tellus consequat, eget sagittis erat porttitor. Fusce commodo, est non luctus malesuada, enim nisi luctus urna, quis convallis justo felis eu lectus. Praesent mollis ligula lectus. Phasellus cursus nec quam eget fermentum. In gravida, ligula sed posuere auctor, eros nibh tempor neque, in dignissim</p>
</div>
