@import '../../../../assets/css/style.less';

h2{
  color: @third-color;
  font-weight: bold;
}

.line{
  content: "";
  height: 2px;
  width: 100%;
  background-color: @third-color;
  margin-top: -5px;
  margin-bottom: 20px;
}

p{
  font-size: 15px;
  text-align: justify;
  margin-bottom: 45px;
}
