<!-- <header class="main-header"> -->
  <div class="header-content">
    <!--  Menu mobilne -->
    <div class="mobile-menu hidden-md hidden-lg" [class.is-visible]="isMobileMenuVisible()">
        <!-- <a  class="mobile-menu-close pull-right" id="mobile-menu-close"><i class="fa fa-times"></i></a> -->
        <ul class="mobile-menu-list">
            <li><a routerLink="/">Start</a></li>
            <li class="mobile-dropdown">
              <a class="mobile-dropbtn">O Klubie <i class="fa fa-chevron-down"></i></a>
              <div class="mobile-drop-content">
                <div (click)="toggleMobileMenu()" class="mobile-drop-content-item"><a routerLink="/historia">Historia</a></div>
                <div (click)="toggleMobileMenu()" class="mobile-drop-content-item"><a routerLink="/zarzad">Zarzad</a></div>
                <div (click)="toggleMobileMenu()" class="mobile-drop-content-item"><a routerLink="/kontakt">Kontakt</a></div>
              </div>
            </li>
            <li class="mobile-dropdown">
              <a class="mobile-dropbtn">Druzyny <i class="fa fa-chevron-down"></i></a>
              <div class="mobile-drop-content">
                <div (click)="toggleMobileMenu()" class="mobile-drop-content-item"><a routerLink="/druzyna/1">Seniorzy</a></div>
                <div (click)="toggleMobileMenu()" class="mobile-drop-content-item"><a routerLink="/druzyna/2">trampkarze</a></div>
              </div>
            </li>
            <li class="mobile-dropdown">
              <a class="mobile-dropbtn">rozgrywki <i class="fa fa-chevron-down"></i></a>
              <div class="mobile-drop-content">
                <div (click)="toggleMobileMenu()" class="mobile-drop-content-item"><a routerLink="/tabela">tabela</a></div>
                <div (click)="toggleMobileMenu()" class="mobile-drop-content-item"><a routerLink="/terminarz">terminarz</a></div>
              </div>
            </li>
            <li><a (click)="toggleMobileMenu()" routerLink="/treningi">Treningi</a></li>
            <li><a (click)="toggleMobileMenu()" routerLink="/aktualnosci">Aktualnosci</a></li>
        </ul>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <!-- Logo -->
          <div class="logo-container pull-left">
            <a routerLink="/"><img src="../../../assets/img/logo.png" alt="" class="logo-image"><span class="hidden-md" [class.animate-in]="isMobileMenuVisible()" [class.animate-out]="!isMobileMenuVisible()">Kolejarz 24 Katowice</span></a>
          </div>
          <div class="user-settings pull-right visible-lg visible-md" >
            <div class="open-form" (click)="toggleIsUserSettings()">
              <i class="fa fa-user-circle-o"></i>
              <i class="fa fa-chevron-down arrow" [class.arrow-clicked]="isUserSettingsOpened()"></i>
            </div>
            <div class="user-login" [class.user-login-opened]="isUserSettingsOpened()">
              <login></login>
            </div>
          </div>
          <!-- menu glowne -->
          <nav class="main-nav pull-right">
            <div class="mobile-menu-icon pull-right hidden-md hidden-lg" (click)="toggleMobileMenu()" [class.cross]="isMobileMenuVisible()">
              <a>
                <div class="mobile-menu-icon-content">
                  <div class="line" id="line1"></div>
                  <div class="line" id="line2"></div>
                  <div class="line" id="line3"></div>
                </div>
              </a>
            </div>
            <ul class="main-nav-list visible-md visible-lg">
              <li><a routerLink="/" class="linkbtn">Start</a></li>
              <li class="dropdown">
                <a class="dropbtn">O Klubie <i class="fa fa-chevron-down"></i></a>
                <div class="drop-content">
                  <a routerLink="/historia">Historia</a>
                  <a routerLink="/zarzad">Zarzad</a>
                  <a routerLink="/kontakt">Kontakt</a>
                </div>
              </li>
              <li class="dropdown">
                <a class="dropbtn">Druzyny <i class="fa fa-chevron-down"></i></a>
                <div class="drop-content">
                  <a routerLink="/druzyna/1">seniorzy</a>
                  <a routerLink="/druzyna/2">trampkarze</a>
                </div>
              </li>
              <li class="dropdown">
                <a class="dropbtn">Rozgrywki <i class="fa fa-chevron-down"></i></a>
                <div class="drop-content">
                  <a routerLink="/tabela">Tabela</a>
                  <a routerLink="/terminarz">Terminarz</a>
                </div>
              </li>
              <li><a routerLink="/treningi" class="linkbtn">Treningi</a></li>
              <li><a routerLink="/aktualnosci" class="linkbtn">Aktualnosci</a></li>
            </ul>
          </nav>

        </div>
      </div>
    </div>
  </div>
<!-- </header> -->
