@import "../../../assets/css/style.less";

.header-content,
.logo-container a,
.main-nav {
  height: @header-height-std;
}

.header-content {
  font-family: @font-family-secondary;
  background-color: @alternate-bg;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 99;
  box-shadow: 0 0 5px 0 rgba(44,18,96,1);
  ul {
    li {
      float: left;
      a {
        .upper;
        color: @brand-primary;
        font-weight: 700;
        text-decoration: none;
      }
    }
  }
}

.mobile-menu {
  .basic-transition;
  position: absolute;
  height: 0;
  width: 100%;
  right: 0;
  margin: 0;
  padding: 0;
  visibility: hidden;
  overflow: scroll;
  z-index: 2;
  background-color: rgba(0, 0, 0, .85);
}

.is-visible {
  height: 100vh;
  visibility: visible;
}

.mobile-menu-list {
  position: relative;
  height: inherit;
  width: 100%;
  padding: 0;
  margin-top: 60px;
  text-align: center;
  li {
    position: relative;
    display: block;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    font-size: 25px;
    a {
      color: @body-bg !important;
    }
  }
}

.mobile-dropdown {
  padding-right: 0 !important;
  padding-left: 0 !important;
  text-align: center;
  &:hover {
    .mobile-drop-content {
      height: 100px;
    }
  }
}

.mobile-drop-content {
  .basic-transition;
  position: absolute;
  height: 0;
  width: 100%;
  margin: 0;
  display: block;
  z-index: 99;
  overflow: hidden;
}

.mobile-drop-content-item {
  display: block;
  width: auto;
  border-bottom: 1px dotted black;
  background-color: rgba(124, 4, 16, .9);
  a {
    display: block;
    font-size: 20px;
  }
}
//logo container
.logo-container {
  .upper;
  position: relative;
  left: 6%;
  transform: translateY(10%);
  font-family: @font-family-sans-serif;
  z-index: 3;
  a {
    display: table-cell;
    margin-right: 10px;
    vertical-align: middle;
    text-decoration: none;
    span {
      position: relative;
      display: none;
      font-size: 25px;
      vertical-align: middle;
      @media @medium{
        display: none;
      }
    }
    &:hover {
      color: @body-bg;
    }
  }
  @media @large {
    left: -10%;
    span {
      display: inline-block;
      font-size: 30px;
    }
  }
  @media @landscp{
    a span{
      display: inline-block;
      font-size: 23px;
    }
  }
}
.animate-in{
  animation: stringDisplay 0.2s linear;
  opacity: 0;
}
.animate-out{
  animation: stringDisplayOut 0.2s linear;
  opacity: 1;
}
.logo-image {
  height: 80px;
  @media @large {
    height: 90px;
  }
}
//user icon
.user-settings{
  // .basic-transition;
  // cursor: pointer;
  // height: 38px;
  // width: 70px;
  // margin-top: @header-height-std - 50px;
  // margin-left: 15px;
  // position: relative;
  // i{
  //   display: inline-block;
  // }
  // &:hover{
  //   i{
  //     color: #C7B6B5;
  //   }
  // }
  // i{
  //   .basic-transition;
  //   font-size: 40px;
  //   color: @body-bg;
  // }
}
.open-form{
  .basic-transition;
  cursor: pointer;
  height: 38px;
  width: 70px;
  margin-top: @header-height-std - 50px;
  margin-left: 15px;
  position: relative;
  i{
    display: inline-block;
  }
  &:hover{
    i{
      color: #E8C1C0;
    }
  }
  i{
    .basic-transition;
    font-size: 40px;
    color: @body-bg;
  }
}
.arrow{
  .basic-transition;
  color: @body-bg;
  font-size: 15px !important;
  top: 50%;
  transform: translateY(-50%);
  position: absolute;
  margin-left: 5px;
}
.arrow-clicked{
  transform: rotateX(180deg) translateY(50%);
}
.user-login{
  .basic-transition;
  height: 0;
  width: 180px;
  position: absolute;
  right: 0;
  background-color: #E8C1C0;
  overflow: hidden;
  margin-top: 12px;
}
.user-login-opened{
  padding: 10px;
  height: 300px;
  border: 2px solid @alternate-bg;
  border-top: none;
}
//main navigation
.main-nav {
  letter-spacing: 1px;
}

.mobile-menu-icon {
  position: relative;
  display: block;
  right: 70%;
  top: 30%;
  z-index: 99;
  a {
    cursor: pointer;
  }
}

.cross {
  #line1 {
    transform: rotate(-45deg) translateX(-50%);
  }
  #line2 {
    transform: translateX(-100%);
    opacity: 0;
  }
  #line3 {
    transform: rotate(45deg) translateX(-50%);
  }
}

.mobile-menu-icon-content {
  height: 35px;
  width: 35px;
}

.line {
  .basic-transition;
  height: 15%;
  width: 100%;
  margin-bottom: 22%;
  background-color: @body-bg;
  content: "";
}

.main-nav-list {
  position: relative;
  top: 50%;
  list-style-type: none;
  li {
    .basic-transition;
    float: left;
    line-height: 1.4;
    font-size: 14px;
    border-top: 1px solid @alternate-bg;

    &:hover {
      border-top: 1px solid white;
      background-color: rgba(105,11,17,.9);
    }
    a{
      .basic-transition;
      transition-property: border;
      padding: 0 18px;
      cursor: pointer;
    }
  }
}

.linkbtn {
  float: left;
  padding-top: 10px !important;
  padding-bottom: 10px !important;
}

.dropdown {
  text-align: center;
  margin: 0;
  width: 110px;
  i{
    font-size: 10px;
    transform: translateY(-2px);
  }
  &:hover{
    .dropbtn {
      background-color: rgba(105,11,17,.8);
    }
    .drop-content {
      transform: translateY(0);
      animation: menuOptionAnimation 0.2s linear;
      opacity: 1;
      visibility: visible;
    }
  }
}

.dropbtn {
  display: inline-block;
  width: inherit;
  padding: 10px 0 !important;
}

.drop-content {
  .basic-transition;
  position: absolute;
  width: inherit;
  background-color: rgba(105,11,17,.9);
  opacity: 0;
  visibility: hidden;
  z-index: 1;
  transform: translateY(-5%);
  a {
    .basic-transition;
    display: block;
    padding: 6px !important;
    border-top: 1px solid black;
    color: @body-bg !important;

    &:hover {
      background-color: rgba(0,0,0,.7);
      color: white !important;
    }
  }
}
//keyframes
@keyframes menuOptionAnimation{
  0% {
    transform: translateY(-10%);
  }
  50% {
    transform: translateY(10%);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes stringDisplay{
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes stringDisplayOut{
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
