@import "../../../../../assets/css/style.less";

.player-data{
  display: block;
  min-width: 100%;
  width: 100%;
  text-align: center;
  font-size: 15px;
  table tbody tr{
    border-top: 1px solid @alternate-bg;
  }
}

.photo{
  display: block;
  height: 350px;
  width: auto;
  border: 1px solid black;
  background-color: @alternate-bg;
}
table{
  text-align: left;
}
