<div class="cont">
  <div class="col-xs-6">
      <div class="player-data">
      <h2>Dane zawodnika</h2>
      <table class="table table-condensed">
        <tbody>
          <tr>
            <td>Imie</td>
            <td>{{player.name}}</td>
          </tr>
          <tr>
            <td>Nazwisko</td>
            <td>{{player.lastName}}</td>
          </tr>
          <tr>
            <td>Numer</td>
            <td>{{player.index}}</td>
          </tr>
          <tr>
            <td>Minuty</td>
            <td>{{player.minutes}}</td>
          </tr>
          <tr>
            <td>Mecze</td>
            <td>{{player.goals}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="col-xs-6">
      <img src="../../../../../assets/img/player.png" alt="zdj" class="photo">
  </div>
</div>
