//zapytania o media
@small: ~'only screen and (min-width: 768px)';
@medium: ~'only screen and (min-width: 992px)';
@large: ~'only screen and (min-width: 1367px)';
@landscp: ~'only screen and (orientation: landscape)';

:host > .cont{
  width: 100%;
  display: block;
  position: relative;
  padding: 30px;
  padding-left: 50px;
}

.loading{//loading circle aligned to center
  text-align: center;
  margin-top: 100px;
}

#main-container {
   background-color: @body-bg;
   margin: 0;
   padding: 0;
   display: flex;
   flex-direction: column;
}
.top-separator {
  height: @header-height-std;
}
.no-padding > .row > div[class*="col-"]{
  padding-left: 0;
  padding-right: 0;
}
.cont{
  min-height: 870px;
}
.footer{
  background-color: @alternate-bg;
  position: relative;
  min-height: 50px;
  color: black;
  padding: 20px;
  text-align: center;
  font-size: 16px;
}
.beauty-line{
  background-color: @alternate-bg;
  vertical-align: middle;
  content: "";
  height: 1px;
  margin: 5px 0 15px 0;
}
