.header-content {
  background-color: @alternate-bg;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 99;
  box-shadow: 0 0 15px 0 rgba(44,18,96,1);
  ul {
    li {
      float: left;
      a {
        color: @brand-primary;
        font-weight: 700;
        text-decoration: none;
        .upper;
      }
    }
  }
}

.logo-container {
  position: relative;
  top: 50%;
  a{
    display: table-cell;
    vertical-align: middle;
    text-decoration: none;
    margin-right: 10px;
    span{
      font-size: 30px;
      vertical-align: middle;
    }
    &:hover {
      color: @body-bg;
    }
  }
}
.header-content, .logo-container a, .main-nav {
  height: 110px;
}
