// Naglowki
.header-mixin(@font-size; @font-weight){
  font-size: @font-size;
  font-weight: @font-weight;
}

//Duze litery
.upper {
  text-transform: uppercase;
}

//Pozycjonowanie wyrownanie itp
.center-text {
  text-align: center;
}

.v-align {
  vertical-align: middle;
}

.absolute-one-hundred-size {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.inline-block {
  display: inline-block;
}

.block {
  display: block;
}

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

.v-align-transform {
  .relative;
  top: 50%;
  transform: translateY(-50%);
}

.clear {
  clear: both;
}

//Padding dol gora
.padding-top-bottom(@p-top; @p-bottom) {
  padding: @p-top 0 @p-bottom;
}

//Ramki
.basic-border(@width; @style; @color: @border-color)  {
  border-width: @width;
  border-style: @style;
  border-color: @color;
}

//Akapity
.paragraph(@font-size: @font-size-base; @line-height: @line-height-base; @color: @paragraph-color) {
  font-size: @font-size;
  line-height: @line-height;
  color: @color;
}

//Listy
.list-style-none {
  list-style-type: none;
  padding-left: 0;
  margin-left: 0;
}

//Ikony
.icon-span-round(@dimension) {
  .inline-block;
  border-radius: 50%;
  .center-text;
  width: @dimension;
  height: @dimension;
}

.icon(@color; @font-size; @line-height: @line-height-base) {
  color: @color;
  font-size: @font-size;
  line-height: @line-height;
}

//Overlay
.dark-overlay {
  content: "";
  z-index: 0;
  background: none repeat rgba(30,30,30,0.6);
  .absolute-one-hundred-size;
}

//Cien
.shadow(@properties) {
  box-shadow: @properties;
}

//Linia
.section-line-mix {
  background: @section-line-color;
  content: "";
  height: 2px;
  margin-top: 10px;
  width: 45%;
  @media @small {
    width:48%;
  }
}

//przejscia
.basic-transition {
  -webkit-transition: all .3s ease-in-out;
     -moz-transition: all .3s ease-in-out;
      -ms-transition: all .3s ease-in-out;
       -o-transition: all .3s ease-in-out;
          transition: all .3s ease-in-out;
}

//flexbox
.flex-display {
  display: flex;
  display: -ms-flexbox;
}

.flex-justify {
  justify-content: space-between;
  -ms-flex-pack: justify;
}

.flex-align {
  align-items: center;
  -ms-flex-align: center;
}

//obrazy slidera
.bg-image (@url) {
  background-image: @url;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
