//Zmienne dla tekstu
@font-family-sans-serif: 'Open Sans', Arial, sans-serif;
@font-family-secondary: "Source Sans Pro", sans-serif;
@font-family-header: 'Quicksand', sans-serif;
@line-height-base: 1.6;

@headings-font-weight: 300;

@font-size-base: 13px;

@font-size-h2: 32px;
@font-size-h3: 18px;
@font-size-h4: 14px;
@slider-height: 200px;
@slider-height-min: 200px;

// bazowe kolory
@brand-primary: #f7f7f7;
@brand-warning: #f6bb42;
@brand-danger: #ec6f5a;

//Kolory rozne
@body-bg: #E1CECD;
@alternate-bg: #7C0410;
@third-color: brown;

@text-color: #454740;
@paragraph-color: #888;
@bright-text-color: #fff;
@icon-color: #a9a9ac;
@menu-text-color: #929292;
@menu-hover-color: #383838;
@footer-text-color: #999;
@light-grey: #f5f5f5;

@border-color: #ddd;
@footer-border-color: #31333b;
@section-line-color: #eaeaea;

//Kolory przyciskow
@btn-primary-color: @bright-text-color;
@btn-danger-color: @bright-text-color;

//Rozne
@input-border-hover: #bbb;
@border-radius-base: 2px;
@table-border-color: @alternate-bg;
@header-height-std: 80px;
@header-height-sm: 60px;
